#main-title {
  font-family: 'Georgia', serif;
  font-size: 48px;
  color: black;
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
}

.highlight {
  background-color: yellow;
  padding: 5px;
  border-radius: 5px;
}